<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Application</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="formContainer"></div> 
    <div id="quizContainer" style="display: none;"></div>
    <div id="result" style="display: none;"></div>

    <footer>
        <p>&copy; 2024 Task from the block model</p>
    </footer>

    <script type="module" src="js/login.js"></script>
    <script type="module" src="js/quiz.js"></script>
    <script type="module" src="js/main.js"></script>
</body>
</html>
